language: python
python:
    - "2.6"
    - "2.7"
before_install:
    - "sudo apt-get update"
    - "sudo apt-get install swig libnettle4"
install: 
    - "pip install -r requirements.txt -r requirements-tests.txt --use-mirrors"
script: "testify tests"
